@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=EB+Garamond&display=swap');


header {
    background-color: #2C2C4C;
    color: #DEC4A6;
    font-family: "Cinzel";
    text-decoration: none;
    margin: 0;
}

nav a:visited {
    text-decoration: none;
    color: #DEC4A6;
}

.logo {
    margin: auto;
    padding: 1px 10px 1px 10px;
    display: block;
}

nav {
    font-size: 1.5em;
    display: table;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.2), rgba(0,0,0,0));
}

nav a {
    display: table-cell;
    width: 33.333%;
    text-align: center;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

body {
    margin: 0;
    font-family: Garamond, Georgia, serif;
    background-color: #2C2C4C;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    
}

#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}

#hero-img {
    width: 100%;
}

#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}

.home-title {
    font-size: 4em;
    background-color: rgba(0,0,0,0.15);
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    margin-bottom: 0;
}

#hero-msg h4 {
    font-size: 2em;
    background-color: rgba(0,0,0,0.15);
    display: inline-flex;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
}

button {
    font-size: 1.5em;
    font-family: "Cinzel";
    font-weight: bold;
    background-color: #DEC4A6;
    color: black;
    display: inline-block;
    border: none;
    padding: 15px 25px;
    text-decoration: none;
}
button:hover,
button:focus {
    background: #b6a189;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}


button a {
    text-decoration: none;
}

button a:visited {
    text-decoration: none;
    color: black;
}

#text-box {
    background-color: #A63A50;
    color:#DEC4A6;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: auto;
    padding: 1em;
}

.left-section {
    text-align: right;
    margin-right: 5em;
    margin-top: 3.5em;
    vertical-align: center;
}

.left-section h1 {
    margin-top: 2em;
}

.left-section p {
    margin-top: 2em;
}

.right-section {
    margin-bottom: 20px;
    max-width: 75%;
}

.right-section h4 {
    font-size: 1.15em;
    margin-top: 2em;
}

.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.bulk-img {
    max-height: 500px;
    min-height: 200px;
    margin: 3em 5em 0em 3em;
}

.bulk-card h2 {
    text-align: center;
    grid-row: 2 / 3;
    color:#DEC4A6;
}

.bulk-card p {
    text-align: center;
    grid-row: 2 / 3;
    color:#DEC4A6;
}

.precision-card h2 {
    text-align: center;
    max-width: 75%;
    grid-row: 2 / 3;
    color:#DEC4A6;
}

.precision-card p {
    text-align: center;
    max-width: 75%;
    grid-row: 2 / 3;
    color:#DEC4A6;
}

.precision-img {
    max-height: 500px;
    min-height: 200px;
    margin: 3em 5em 0em 0em;
}

footer {
    background-color: #DEC4A6;
    color: black;
    padding: 25px 50px;
    /* margin-top: 100px; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer.social img {
    padding-top: 15px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:hover {
    color: #A63A50;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

.accordion {
    background-color: #DEC4A6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 95%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    grid-column: 1/2;
    margin-left: 1.6em;
    font-size: 1.25em;
  }
  
  .active, .accordion:hover {
    background-color: #b6a189;
  }
  
  .accordion:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }
  
  .panel {
    padding: 0 18px;
    background-color: #A63A50;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    grid-column: 1/2;
    width: 90%;
    margin-left: 2.5em;
    margin-bottom: 1em;
  }

  .faq-main {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    padding: 1em;
    margin-top: 1em;
    margin-left: .75em;
  }

  form {
    grid-column: 2/3;
    grid-row: 2/6;
    color: white;
    margin-left: 1.2em;
  }

  .name-input {
    grid-row: 2/3;
    margin-bottom: 1em;
  }

  .name-input input {
    margin-left: 33px;
    width: 55%;
  }

  .email-input {
    grid-row: 3/4;
    margin-bottom: 1em;
  }
  .email-input input {
    margin-left: 33px;
    width: 55%;
  }

  .question-input {
    grid-row: 4/5;
    margin-bottom: 1.75em;
  }
  .question-input textarea {
    margin-left: 10px;
    width: 70%;
    height: 5em;
  }

  #feedback {
    grid-column: 2/3;
    grid-row: 1/2;
    color: white;
    font-size: 1.2em;
    margin-left: 1em;
  }

/* Services Page */

  #intro-msg {
    color: #DEC4A6;
    font-size: 1.5em;
    /* background-color: rgba(244, 238, 238, 0.075); */
    background-color: #a63a5064;
    text-align: center;
    padding: .75em;
    margin: 4em 6em;
    border-radius: 5px;

  }

  .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* grid-template-rows: 1fr 1fr 1fr; */
  }

  .services-img {
    text-align: center;
    display: grid;
  }

   /* .accordion2 {
    background-color: #DEC4A6;
    color: #444;
    cursor: pointer;
    padding: 18px;
    display: inline-block; 
    border: none;
    margin: 1em auto;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    font-size: 1.25em;
    grid-column: 1/2;
  }

  .accordion2:after {
    content: '\002B';
    color: black;
    font-weight: bold;
    
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2212";
  }

  .active, .accordion2:hover {

  }

  .panel2 {
    padding: 0 18px;
    background-color: #A63A50;
    max-height: 0;
    display: none;
    overflow: hidden; 
    transition: max-height 0.2s ease-out;
    grid-column: 2/3;
    width: 90%;
  }

  .panel2 button {
    margin-bottom: 1em;
  }  */

  .precision-option, .bulk-option, .exotic-option {
    background-color: #DEC4A6;
    color: black;
    font-size: 15px;
    transition: 0.4s;
    font-size: 1.25em;
    display: grid;
    grid-column: 1/2;
    margin: 1em .5em 2.5em 2em;
  }

  .precision-option h6, .bulk-option h6, .exotic-option h6 {
    margin: 0 0 1.2em 0;
  }

  .precision-info, .bulk-info, .exotic-info {
    display: grid;
    grid-column: 2/3;
    color: #DEC4A6;
    background-color: rgba(244, 238, 238, 0.075);
    text-align: center;
    font-size: 1.5em;
    padding: .75em;
    margin: 2em 2em;
    border-radius: 5px;
    height: 50%;
    margin-top: 8em;
  }

  .precision-info button, .bulk-info button, .exotic-info button {
    height: 3em;
    width: 15em;
    margin: auto;
    font-size: 1em;
  }

  /* .bulk-option {
    background-color: #DEC4A6;
    color: black;
    font-size: 15px;
    transition: 0.4s;
    font-size: 1.25em;
    display: grid;
    grid-column: 1/2;
    margin: 1em .5em 2.5em 2em;
  }

  .bulk-info {
    display: grid;
    grid-column: 2/3;
    color: #DEC4A6;
    background-color: rgba(244, 238, 238, 0.075);
    text-align: center;
    font-size: 1.5em;
    padding: .75em;
    margin: 2em 2em;
    border-radius: 5px;
    height: 50%;
    margin-top: 8em;
  }

  .bulk-info button {
    height: 3em;
    width: 10em;
    margin: auto;
  }

  .exotic-option {
    background-color: #DEC4A6;
    color: black;
    font-size: 15px;
    transition: 0.4s;
    font-size: 1.25em;
    display: grid;
    grid-column: 1/2;
    margin: 1em .5em 2.5em 2em;
  }

  .exotic-info {
    display: grid;
    grid-column: 2/3;
    color: #DEC4A6;
    background-color: rgba(244, 238, 238, 0.075);
    text-align: center;
    font-size: 1.5em;
    padding: .75em;
    margin: 2em 2em;
    border-radius: 5px;
    height: 50%;
    margin-top: 8em;
  }

  .exotic-info button {
    height: 3em;
    width: 10em;
    margin: auto;
  } */